* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

/* Header Global ---------- */

header#global-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 5rem;
    border: 0.1rem solid #f2f2f2;
    box-shadow: 0 0 10px lightgray;
}

#header-logo {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

#header-logo h3, #name-sistem {
    font-size: 2rem;
    font-weight: 600;
    color: #1D1E20;
}

#header-logo span, #name-sistem span {
    font-size: 2rem;
    font-weight: 600;
    color: #185ADB;
}

nav#header-nav ul {
    display: flex;
    list-style: none;
    gap: 3.2rem;
}

#header-nav ul li a {
    text-decoration: none;
    font-size: 1.6rem;
    color: #1D1E20;
    transition: 0.5s ease-out;
}

#header-nav ul li a:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #185ADB;
}

#header-user {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

#header-user p {
    font-size: 1.6rem;
    font-weight: 500;
    color: #185ADB;
}

#header-user span {
    font-size: 1.6rem;
    font-weight: 600;
    color: #185ADB;
}

#nav-responsivo {
    position: relative;
    display: none;
}

#header-nav-drop {
    display: none;
    position: absolute;
}

#header-nav-drop.show {
    display: flex;
    position: absolute;
}

/* Seções da main ------------- */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    width: 70%;
}

section header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
}

section header div {
    width: 100%;
    border-bottom: 0.1rem solid rgba(195, 212, 233, 0.5);
}

section header h2 {
    font-size: 3.2rem;
    font-weight: 600;
    color: #1D1E20;
}

#header-logo > a:nth-child(2) {
    text-decoration: none;
}

.contact-content > p:nth-child(1) {
    padding-bottom: 1.6rem;
}

.pFinal {
    margin-top: -8rem;
}