* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

/* Header Global ---------- */

header#global-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 5rem;
    border: 0.1rem solid #f2f2f2;
    box-shadow: 0 0 10px lightgray;
}

#header-logo {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

#header-logo h3 {
    font-size: 2rem;
    font-weight: 600;
    color: #1D1E20;
}

#header-logo span {
    font-size: 2rem;
    font-weight: 600;
    color: #185ADB;
}

nav#header-nav ul {
    display: flex;
    list-style: none;
    gap: 3.2rem;
}

#header-nav ul li a {
    text-decoration: none;
    font-size: 1.6rem;
    color: #1D1E20;
    transition: 0.5s ease-out;
}

#header-nav ul li a:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #185ADB;
}

#header-user {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

#header-user p {
    font-size: 1.6rem;
    font-weight: 500;
    color: #185ADB;
}

#header-user span {
    font-size: 1.6rem;
    font-weight: 600;
    color: #185ADB;
}

#header-user button {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 100%;
    border: 0.1rem solid rgba(195, 212, 233, 0.5);
    background-color: white;
    transition: 0.7s ease-out;
}

#header-user button:hover {
    cursor: pointer;
    background-color: rgba(195, 212, 233, 0.5);
}

#header-user button i {
    font-size: 1.6rem;
    font-weight: 500;
    color: #185ADB;
}

#header-nav-button {
    display: none;
}

/* Seção do título principal ---------- */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

#main-title-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.8rem;
}

#main-title-section > h1, #main-title-section span {
    font-size: 6.4rem;
    font-weight: 600;
    color: #1D1E20;
}

#main-title-section span {
    color: #185ADB;
}

#main-title-section p {
    max-width: 70rem;
    font-size: 1.6rem;
    text-align: center;
    color: #31373D;
}

#main-title-section p span {
    font-size: 1.6rem;
    font-weight: 500;
}

#main-title-section div {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

a.services, a.feedbacks {
    font-size: 1.6rem;
    color: #1D1E20;
    text-decoration: none;
    padding: 1.2rem 1.6rem;
    border-radius: 1.2rem;
}

a.services {
    border: 0.1rem solid white;
    background-color: #FFC947;
    transition: 0.7s ease-out
}

a.services:hover {
    background-color: white;
    border: 0.1rem solid #FFC947;
    cursor: pointer;
}

a.feedbacks {
    border: 0.1rem solid #FFC947;
    background-color: white;
    transition: 0.7s ease-out;
}

a.feedbacks:hover {
    background-color: #FFC947;
    cursor: pointer;
}

/* Seção de serviços ---------- */

#services-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    width: 70%;
}

#services-section header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
}

#services-section header div {
    width: 100%;
    border-bottom: 0.1rem solid rgba(195, 212, 233, 0.5);
}

#services-section header h2 {
    font-size: 3.2rem;
    font-weight: 600;
    color: #1D1E20;
}

#services-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

#services-list li {
    width: fit-content;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
}

.focused-item {
    position: relative;
}

#services-list li img {
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    max-width: 100%;
    height: auto;
    margin-bottom: 1px;
}


#services-list li h2 {
    display: none;
}

.item-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1.6rem;
    
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-size: 3.6rem;
    color: #F6F6F3;

    background-color: #1D1E20;
}

@media (max-width: 950px) {
/* Tentando fazer um menú dropDown - Miguel */
    #global-header {
        height: 100px;
    }

    #global-header #header-nav {
        position: relative;
        top: 50px;
    }

    #global-header #header-nav ul {
        text-align: center;
        display: none;
    }

    #header-user {
        display: block;
        min-width: 213px;
    }
    
    #header-user button {
        float: right;
        margin-right: 8px;
    }

    #header-user p {
        margin: auto;
        margin-right: 0;
        width: fit-content;
    }

    /* services-section e services-list */
    #services-list {
        display: block;
        width: 100%;
    }

    #services-list li {
        width: 100%;
        height: 120px;
        margin-bottom: 3px;
    }
    
    #services-list li img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 6px;
    }

    
    #services-list {
        width: 80vw;
    }
}

@media (max-width: 600px) {
    main {
        align-items: center;
        gap: 2.6rem;
        margin-top: 1.6rem;
        margin-bottom: 10rem;
    }

    #main-title-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.8rem;
    }
    
    #main-title-section > h1, #main-title-section span {
        font-size: 3.4rem;
        font-weight: 600;
        color: #1D1E20;
    }

    #main-title-section span {
        color: #185ADB;
    }

    #main-title-section p {
        max-width: 44rem;
        font-size: 1.4rem;
        text-align: center;
        color: #31373D;
    }

}